@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');


* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
  
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68bb7e;
  
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
  }

  
/* Círculo */

.circulo {
    position: absolute;
    top: 0;
    left: 0;
    background: #0B3B18;
    clip-path: circle(650px at left 750px);
    width: 100%;
    height: 100%;
  }
  
/* Header */

header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 100px;
  }
  
  
  
  
  header .logo{
    color: #ffff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .header a {
    text-decoration: none;
    padding: 12px 23px;
    color: #ffff;
    background: #f19f4d;
    font-size: 1em;
    font-weight: 500;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
  
  .header a ion-icon {
    margin-left: 10px;
  }
  
  .header a:hover {
    background: #cb7116;
  }

  /* Footer */
  
  footer {
    padding: 1em;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom: 0;
    width: 100%;

    /*margin-top: auto;*/

    height: 100px;
    display: flex;

  }
  
  footer .copyright p {
    color: #1b1b1b;
    font-weight: 500;
  }
  